<!DOCTYPE html>
<head>
  <title>Gourav Sharma</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/favicon.ico" type="/static/projects/favicon.ico">
  <link rel="shortcut icon" type="/static/projects/favicon.ico" href="/static/projects/img/favicon-16x16.png"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    *{
      margin:0 ; padding:0 ; font-family: 'Galvji', sans-serif;
    }

  </style>
</head>
<body>
<!-- Just an image -->
  <header class="pb-sm-0">
    <div class="container d-flex flex-column flex-md-row align-items-center mt-3 mb-3 p-5 px-md-4 mb-md-5">
      <h5 class="my-0 mr-md-auto font-weight-normal">
      <a href="/"><img src="/static/projects/img/Mind.jpeg" width="150" height="180"></a>
      </h5>
      <nav class="links mt-5 my-md-0 mr-md-5">
        <b><a class="p-3 text-dark" href="/projects">Projects</a></b>
        <b><a class="p-3 text-dark" href="/models/">Live models</a></b>
        <b><a class="p-3 text-dark" href="/blog">Writing</a></b>
        <b><a class="p-3 text-dark" href="/blog">Live Dashboard</a></b>
        <b><a class="p-3 text-dark" href="">About</a></b>
        </nav>
  </header>
  <main class="container">
<div class="row">
  <P>
    <strong>
    I'm Gourav Sharma, a computer programmer based in Melbourne Australia.
    </strong>
  </P>
  Specialised in data Visualization tools (Tableau, Yellowfin bi),
  databases (SQL & MySQL). Master in writing and manipulating SQL Queries to pull data & meta data from databases,
  report creating, dashboards building and draw insights from data, understand, analyse large data sets and technical complexities
  to present to business stakeholders. Worked with agile teams, end users and management to confirm business requirements.
   </p>
   <p>
      Proficient – Python, Tableau, Excel, Yellowfin BI, Tableau BI, Lavastorm
      Familiar with – Java, C++, Matlab, Azure
      Programming : Python, Pandas, Numpy, Seaborn, Scikit-learn
      Databases: MYSQL, SQL

      Technical Machine Learning: Classification, regression, Feature Engineering, manipulation and visualization( e.g. Matplotlib, Seaborn, Tableau)

      Statistics: Regression, Confident Intervals, Baysesian and Monte Carlo Methods
      Coding Python(Scikit_learn, Numpy, Pandas etc. )
   </p>
  </div>
<div class="container">
    {% block page_content %}{% endblock %}
</div>
</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
